<div class="title">
    <h3>New event</h3>
</div>
<div class="container">
    <form [formGroup]="eventForm" (ngSubmit)="submitEvent()" novalidate>
        <div *ngIf="messageValidator != ''">
            <p class="alert alert-info" role="alert">{{ messageValidator }}</p>
        </div>
        <app-poster (newPosterIdEvent) = "setPosterId($event)"></app-poster>
        <div class="mb-3 form-group">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" formControlName="title" id="title" placeholder
                aria-describedby="title" required />
        </div>
        <div class="mb-3 form-group">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" formControlName="description" id="description" placeholder
                aria-describedby="description" required />
        </div>
        <div class="mb-3 form-group">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="datetime-local" class="form-control" formControlName="startDate" id="startDate" placeholder
                aria-describedby="startDate" required/>
        </div>
        <div class="mb-3 form-group">
            <label for="endDate" class="form-label">End Date</label>
            <input type="datetime-local" class="form-control" formControlName="endDate" id="endDate" placeholder
                aria-describedby="endDate" required />
        </div>
        <div class="mb-3 form-group">
            <label for="registrationEndDate" class="form-label">Registration End Date</label>
            <input type="datetime-local" class="form-control" formControlName="registrationEndDate" id="registrationEndDate" placeholder
                aria-describedby="registrationEndDate"  required/>
        </div>
        <div class="mb-3 form-group">
            <label for="eventStatus" class="form-label">Event Status</label>
            <select class="form-control" formControlName="eventStatus" id="eventStatus" placeholder
                aria-describedby="eventStatus" required>
                <option value="DRAFT">draft</option>
                <option value="OPEN_TO_REGISTRATION">open for registration</option>
                <option value="CLOSED_TO_REGISTRATION">closed for registration</option>
                <option value="ONGOING">ongoing</option>
                <option value="PAST">past</option>
                <option value="CANCELLED">canceled</option>
            </select>
        </div>
        <div class="mb-3 form-group">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" formControlName="location" id="location" placeholder
                aria-describedby="location"  required/>
        </div>
        <div class="mb-3 form-group">
            <label for="nbrOfPlaces" class="form-label">Number Of Places</label>
            <input type="number" class="form-control" formControlName="nbrOfPlaces" id="nbrOfPlaces" placeholder
                aria-describedby="nbrOfPlaces" required />
        </div>
        <div class="mb-3 form-group">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" formControlName="price" id="price" placeholder
                aria-describedby="price" required/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>