<div class="title">
    <h3>Events owned</h3>
</div>
<div class="container">
    <div>
        <!-- angular template variable #title -->
        <input type="text" #title id="title" placeholder="search by title" />
        <input type="button" (click)="searchEventByTitle(title.value)" value="Search">
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Author</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events">
                <td>{{event.title}}</td>
                <td>{{event.description}}</td>
                <td>{{event.user.username}}</td>
                <td>
                    <a routerLink="/eventDetail/{{event.eventId}}" type="button" class="btn btn-info actions">
                        Details
                    </a>
                    <button type="button" class="btn btn-danger actions" id="delete"
                        (click)="removeEvent(event.eventId)">
                        Delete
                    </button>
                    <button routerLink="/eventEdit/{{event.eventId}}" type="button" class="btn btn-secondary actions">
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button routerLink="/newEvent" type="button" class="btn btn-success">Add New Event</button>
      </div>
</div>
