<div class="title">
    <h3>Cart content</h3>
</div>

<div class="container">
    <div>
        <h3>{{message}}</h3>
    </div>
    <div class="row" *ngIf="items.length!=0">
        <div class="cart-ticket" *ngFor="let item of items">
            <div class="col">
                | Title: {{item.eventTitle}}
                | Quantity: {{item.quantity}}
                | Price: {{item.price}}
                <button mat-raised-button (click)="removeItem(item)">remove</button>
            </div>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="onSubmit()">Place order</button>
        </div>
    </div>
</div>