<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="assets/img/ev-logo.png" width="120px" class="logo">
    </a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a href="/events" class="nav-link" routerLink="events">All Events</a>
        </li>
        <li class="nav-item">
          <a href="/eventsUser" class="nav-link" *ngIf="isLoggedIn" routerLink="eventsUser">All Events</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/eventsAdmin" class="nav-link" routerLink="eventsAdmin">Admin View all</a>
        </li>
        <li class="nav-item" *ngIf="showHostBoard">
          <a href="/eventsHost" class="nav-link" routerLink="eventsHost">My events</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/cart" class="button fancy-button" routerLink="cart">
            <i class="material-icons">shopping_cart</i>Checkout
          </a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
  </nav>
</div>