<div id="comnbr">
  <h6>{{nbrOfComments}} comments</h6>
</div>
<div *ngIf="isLoggedIn">
  <form [formGroup]="commentForm" (ngSubmit)="submitComment()" novalidate>
    <mat-form-field class="comment" appearance="legacy">
      <mat-label for="content">Leave a comment</mat-label>
      <textarea matInput formControlName="content" id="content"></textarea>
    </mat-form-field>
    <button type="submit" mat-stroked-button >Comment</button>
    <div *ngIf="messageValidator != ''">
      <p class="alert alert-info" role="alert">{{ messageValidator }}</p>
    </div>
  </form>
</div>
<div *ngIf="!isLoggedIn">
  *<a href="/login">login</a> to leave a comment
</div>
<div *ngFor="let comment of comments">
  <div id="username">{{comment.commentUser.username}}</div>
  <div id="content">&emsp;-{{comment.content}}</div>
</div>