.comment {
    width: 350px;
}

#comnbr {
    padding-top: 0px; 
    text-decoration: underline;
    font-weight: bold;
}

#username {
    font-style: bold;
    font-family: Arial;
}

#content {
    font-style: italic;
    font-family: sans-serif;
    font-size: small;
}