<div class="title">
    <h3>Upcoming events</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-6" *ngFor="let event of events; index as i">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{event.title}}</mat-card-title>
                    <mat-card-subtitle>Created by: {{event.user.username}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <a href="#" routerLink="/eventDetail/{{event.eventId}}">
                        <img [src]="showImg(i)" width="300" alt="poster image">
                    </a>
                </mat-card-content>
                <!-- <mat-card-actions>
                    Starts on: {{event.startDate}}

                </mat-card-actions> -->
                <p>{{showDate(i)}}</p>
            </mat-card>
        </div>
</div>