<div class="mb-3 form-group">
    <h4>Upload Poster Image</h4>
</div>
<div class="mb-3 form-group">
    <input type="file" (change)="onFileChanged($event)">
</div>
<div class="mb-3 form-group">
    <input type="button" (click)="onUpload()" value="upload">
</div>
<hr />
<div class="mb-3 form-group">
    <div *ngIf=message>{{message}}</div>
</div>
<div class="container row">
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage" width="300">
        </div>
    </div>
</div>