<div class="title">
    <h3>Event details</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{event.title}}</mat-card-title>
                    <mat-card-subtitle>Created by: {{event.user.username}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img [src]="retrievedImage" width="400" alt="poster image">
                    <p>
                        {{event.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-6">
            <div class="row" *ngIf="isLoggedIn">
                <div class="col" *ngIf="isPaidEvent && !isTicketInCart">
                    <label for="nbrOfTickets">Number of tickets:</label>
                    <input type="number" id="nbrOfTickets" #nbr min="1" max="{{availablePlaces}}">
                    <button (click)="addToCart(nbr.value)" routerLink="/home">Add to cart</button>
                </div>
                <div class="col" *ngIf="isPaidEvent && isTicketInCart">
                    <span>
                        You already have added this event to your cart.
                    </span>
                </div>
                <div class="col" *ngIf="!isPaidEvent && !isUserRegisteredToEvent">
                    <button (click)="registerToEvent()">Register to event</button>
                </div>
                <div class="col" *ngIf="!isPaidEvent && isUserRegisteredToEvent">
                    <button (click)="unregisterFromEvent()">Unregister from event</button>
                </div>
            </div>
            <div class="row" *ngIf="!isLoggedIn">
                <div class="col">
                    <br>
                    You must <a href="/login">login</a> or <a href="/register">register</a> to participate to this
                    event.
                </div>
            </div>
            <div class="row">
                <div class="col align-self-start">
                    <br>
                    <app-comment [eventId]="selectedId"></app-comment>
                </div>
            </div>
        </div>
    </div>
</div>