/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

h3 {
    color: white;
    text-align: center;
}

.title {
    background-color: rgb(238, 150, 17);
    padding: 20px;
}
